$-color-primary:map-get($-palette-default, 'alpha');
$-color-primary_user:map-get($o-user-theme-color-palette, 'alpha');
@if ($-color-primary_user) {
$-color-primary : $-color-primary_user;
}

$-color-secondary:map-get($-palette-default, 'beta');
$-color-secondary_user:map-get($o-user-theme-color-palette, 'beta');
@if ($-color-secondary_user) {
$-color-secondary : $-color-secondary_user;
}

#customer_sign_up_form_section{
	padding:16px;
}
#customer_sign_up_form_section h5{
	margin:0;
}
#customer_sign_up_form_section .container{
    padding: 22px 28px;
}
#customer_sign_up_form_section .sub_heading{
    margin: 20px 0 10px 0;
    padding: 8px 14px;
    border-radius: 4px;
}
#customer_sign_up_form_section .heading{
	text-align: center;
}
#customer_sign_up_form_section h4{
	border-bottom:2px solid #000;
	display:inline-block;
	margin:0 auto;
	padding-bottom: 8px;
}
#customer_sign_up_form_section .img-thumbnail{
	padding: 0.25rem;
    background-color: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 0.25rem;
    width: 135px;
    height: 135px;
}
#customer_sign_up_form_section .multiselect-native-select .btn-group{
	border: 1px solid lightgray;
    border-radius: 3px;
}
#customer_sign_up_form_section .multiselect-native-select .btn-group ul li{
	padding: 0 10px;
}
#customer_sign_up_form_section .multiselect-native-select .btn-group ul li a label input[type="checkbox"]{
	margin-right: 4px;
}
#customer_sign_up_form_section .multiselect-native-select .btn-group ul li a:focus{
	outline:0;
}
#customer_sign_up_form_section #create_customer{
	padding: 6px 20px;
    font-weight: 500;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.1);
}
#customer_sign_up_form_section .customer_type .customer_img{
		display: inline-block;
    position: relative;
}
#customer_sign_up_form_section .customer_type .customer_img .fa-link{
	position: absolute;
    top: 0;
    right: 0;
    background: #eee;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
}

@media only screen and (max-width: 414px) {
	#customer_sign_up_form_section .customer_type{
		justify-content: center;
	}
	#customer_sign_up_form_section .customer_type .customer_img{
		text-align: center;
	}
}













